#invite fieldset { margin: 15px 0; padding: 5px; background: #eee; border: 1px solid #ccc; border-radius: 3px; }
#invite legend { padding: 0.2em 0.5em; background: #fff; border: 1px solid #ccc; color: #333; font-size: 16px; text-align: left; border-radius: 3px; }
#invite .field { margin: 10px 0; text-align: center; }
#invite .action { float: right; }
#invite label { display: block; font-size: 15px; line-height: 30px; }
#invite textarea { font-size: 20px; line-height: 30px; text-align: center; }
aside ul li { font-size: 14px; line-height: 20px; list-style: circle; margin: 4px 0 4px 20px; }