.text h1:first-child { border-right: 0; }
.grade .registered { margin: 0; }
.grade .registered li { float: left; margin: 0 10px 10px 10px; }
.grade .registered li a { display: block; width: 60px; text-align: center; }
.grade .unregistered { margin: 0; }
.grade .unregistered li { float: left; width: 60px; margin: 10px; text-align: center; }
