#register fieldset { margin: 15px 0; padding: 5px; background: #eee; border: 1px solid #ccc; border-radius: 3px; }
#register legend { padding: 0.2em 0.5em; background: #fff; border: 1px solid #ccc; color: #333; font-size: 16px; text-align: left; border-radius: 3px; }
#register .field { margin: 10px 0; }
#register .action { margin: 20px 10px 10px 10px; }
#register .action * { margin-left: 10px; padding: 5px; }
#register label { display: inline-block; width: 150px; text-align: right; font-size: 15px; line-height: 30px; }
#register .textfield { width: 300px; height: 30px; font-size: 20px; line-height: 30px; text-align: center; }
#register .sure { padding-left: 20px; }
#register .sure label { width: 300px; text-align: left; }
